html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    table-layout: fixed;
    margin: 0;
    padding: 0 4px;
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid #EDF2F7;
    background:#fff;
}

th, td {
    padding: 5px !important;
    text-align: center !important;
}


th:is(.empty), td:is(.empty) {
    background-color: #d1d7de !important;
    border-color: #dfe5ed !important;
}
 
@media print {
    html, body {
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        margin: 10pt ;
        padding: 0;
        height: auto;
    }

    th, td {
        padding: 5px !important;
        text-align: center !important;
    }

    table, th, td {
        border: 1px solid #EDF2F7;
        background:#fff;
    }

    
    th:is(.empty), td:is(.empty) {
        background-color: #d1d7de !important;
        border-color: #dfe5ed !important;
    }

    .legend-items {
        grid-template-rows: repeat(5, 10pt) !important;
    }

    @page { 
        /* size: 11.69in 8.27in; */
        size: A4 landscape;
        margin: 5mm;
    }   
}
