html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    table-layout: fixed;
    padding: 0;
}

table, th, td {
    border: 1px solid #EDF2F7;
}

th, td {
    padding: 5px !important;
    text-align: center !important;
}

@media print {
    html, body {
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
        display: table;
        table-layout: fixed;
        margin: 10pt ;
        padding: 0;
        height: auto;
    }

    th, td {
        padding: 5px !important;
        text-align: center !important;
    }

    table, th, td {
        border: 1px solid #EDF2F7;
    }

    @page { 
        /* size: 11.69in 8.27in; */
        size: A4 landscape;
        margin: 5mm;
    }
}
